.chart {
  height: 350px;
  width: 100%;
}

.pie-chart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 15px;
}

.vendor-container {
  display: flex;
  align-items: center; 
  background-color: #021629; 
  padding: 5px 15px !important; 
}

.page-title {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  margin: 0 0 0 10px;
}

.p-button-text.p-button-plain {
  color: #fff !important;
  padding: 0;
  width: auto;
  height: auto;
}

.p-button-text.p-button-plain:hover {
  background-color: transparent !important;
  color: #fff !important;
}

.pie {
  background-color: #091820;
  border: 1px solid #505457ad;
}

.chart-heading {
  background-color: #032f49;
  color: #ffffffd9;
  margin: 0 !important;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #07486f;
}